{% extends "omnipi/index_framed.html" %}

{% block site %}Home{% endblock %}

{% block maincontent %}
		<div id="hmeNav" class="span12 right" style="position: relative;">

			<h2>Current Modules</h2>
			<p>The following modules are installed and available on your OmniPi</p>

			<!-- list view -->
			<ul class="op-list-one" id="emlInboxList">
			{% for app in op_apps %}
				<li><a href="{{ app.appurl }}"><div>
					<h4>{{ app.title }}</h4>
					<p>{{ app.desc }}</p>
				</div></a></li>
			{% endfor %}

			</ul>
		</div>
{% endblock %}