{% extends "omnipi/index_framed.html" %}

{% block site %}Markup Test{% endblock %}

{% block maincontent %}
		<h1>OP Style Guide</h1>

		<ul class="bullet">
			<li><a href="#list">Lists</a></li>
		</ul>
		
		<h2 id="list">Lists</h2>

		<h3>Simple Lists</h3>
		<p>A simple list can be created using the &lt;ul&gt; and &lt;ol&gt; tags. Both are supported
			in OP markup and generate simply styled lists.</p>
		<ul>
			<li>This is a list item</li>
			<li>This is the second unordered list item</li>
			<li>And a third</li>
		</ul>
		<ul class="op-list bullet">
			<li>This is a list item</li>
			<li>This is the second unordered list item</li>
			<li>And a third</li>
		</ul>
		<ol>
			<li>This is the first of an ordered list item</li>
			<li>This is the second of an ordered list item</li>
			<li>I'll leave this one as an exercise for the reader</li>
		</ol>

		<h3>Fancier Lists</h3>
		<p>Then there are more elegant, useful list styles. These ones allow a little
			flare to be added.</p>
		<ul class="op-list-one">
			<div class="header">Fancy List (Guttered)</div>
			<li class="">
				<h4>A main title text</h4>
				<p>And some explantory text relevant to the item as a whole..</p>
			</li>
			<li class="">
				<h4>A main title text</h4>
				<p>And some explantory text relevant to the item as a whole..</p>
				<div class="special">0</div>
			</li>
			<li class="">
				<h4>A main title text</h4>
				<p>And some explantory text relevant to the item as a whole..</p>
			</li>
		</ul>

		<h3>Full width lists</h3>
		<ul class="op-list-one full">
			<div class="header">Fancy List (Full Width)</div>
			<li class="">
				<h4>A main title text</h4>
				<p>And some explantory text relevant to the item as a whole..</p>
			</li>
			<li class="">
				<h4>A main title text</h4>
				<p>And some explantory text relevant to the item as a whole..</p>
				<div class="special">0</div>
			</li>
			<li class="">
				<h4>A main title text</h4>
				<p>And some explantory text relevant to the item as a whole..</p>
			</li>
		</ul>

{% endblock %}
