{% extends "omnipi/index_framed.html" %}

{% block site %}{{ AppName }}{% endblock %}

{% block head_css %}
	<link href="{{ STATIC_URL }}omnipi/styles/settings.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block maincontent %}

	<div>
		<form method="post">
			{% csrf_token %}
			<!-- {{ form }} -->
			<ul class="op_form">
<!-- 			{% for setting_data in settings %}
				<li>
					<h3 class="span3">{{ setting_data.name }}</h3>
					<div class="span7 values">
						{% if setting_data.type == 'text' %}<input type="text" value="{{ setting_data.value }}" name="{{ setting_data.name }}">
						{% elif setting_data.type == 'radio' %}{% for radio_option in setting_data.value %}<label class="stack">
							<input type="radio" value="{{ radio_option }}" name="{{ setting_data.name }}">
							{{ radio_option }}
						</label>{% endfor %}
						{% elif setting_data.type == 'textarea' %}<textarea name="{{ setting_name }}">{{ setting_data.value }}</textarea>
						{% elif setting_data.type == 'password' %}<input type="password" value="{{ setting_data.value }}" name="{{ setting_data.name }}">
						{% endif %}
					</div>
					<div class="help">
						<p>{{ setting_data.help_text }}</p>
					</div>
					<div style="clear: both; display: block; width: 100%"></div>
				</li>
			{% endfor %}
 -->

 				{{ form.as_ul }}

				<li>
					<h3 class="span3">&nbsp;</h3>
					<div class="span7 values">
						<button value="Save" class="save">Save</button>
						<button value="Cancel" class="cancel">Cancel</button>
					</div>
				</li>
			</ul>
		</form>
	</div>

{% endblock %}