#menu {
    position: absolute;
    left: -200px;
    width: 200px;
    background-image: url(./static/omnipi/images/backgrounds/noisy_net.png);
    color: white;
    height: 100%;
    overflow: scroll;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}
#menu li {
	padding: 1em 0.5em;
	margin: 0;
}
#menu .op_menu_start_sub {
	background-color: #BBB;
}


#menu.show {
    left: 0;
}

