@charset "utf-8";

/* BASE is a basic reset and then some establishing styles for basic OP elements */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

html {
  height: 100%;
  min-height: 100%;
  text-align: center;
}

body {
  font-family: 'Source Sans Pro', serif; /* , verdana, geneva, sans-serif; */
  font-size: 14px;
  color: #000000;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(16,16,16);
  font-weight: 600;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.08em;
}

a:link {
  color: #0000FF;
}

a:visited {
  color: #800080;
}

a:hover {
  color: #FF0000;
}

a:active {
  color: #FF0000;
}

ol, ul {
  padding: 0 0 1em;
  margin-left: 1em;
}
ul {
  list-style: none outside none;
}
ul.bullet {
  list-style-type: circle;
}
ol {
  list-style-position: outside;
}

p {
  margin: 0 0 1em;
}

.meta {
  font-size: 0.9166em;
}


blockquote, q {
  quotes: none;
}

:focus {
  outline: 0 none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  vertical-align: middle;
}
@media  screen and (max-width: 400px) {
  input {
    border: 0 none;
    font-size: 1.5em;
    padding: 0.4em 0;
    width: 100%;
  }
}