@media  screen and (max-width: 400px) {
  .op_menu, .op_maincontent {
    height: 100%;
  }
}

@media  screen and (max-width: 400px) {
  .op_menu {
    position: absolute;
    left: -200px;
    width: 200px;
    background-image: url(/static/omnipi/images/backgrounds/noisy_net.png);
    color: white;
    height: 100%;
    overflow: scroll;
    top: 0;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
  }
}

@media  screen and (max-width: 400px) {
  .op_menu li {
    padding: 1em 0.5em;
    margin: 0;
  }
}

@media  screen and (max-width: 400px) {
  .op_menu .op_menu_start_sub {
    background-color: #BBB;
  }
}

@media  screen and (max-width: 400px) {
  .op_menu.menu {
    left: 0;
  }
}



/* MAIN MENU */
@media  screen and (min-width: 401px) {
  #op_main_menu {
    position: absolute;
    top: 2em;
    z-index: 10;
    display: none;
    background-color: white;
  }
}

@media  screen and (min-width: 769px) {
  #op_main_menu.menu {
    display: block;
  }
}