@charset 'utf-8';

/* style lists to be full width, but padded away from the left/right edges */
.op-list-one {

  border-bottom: 1px solid rgb(224,224,224);
  padding-bottom: 0;
  margin-bottom: 1.4em;
  margin-left: 0;

  li {
    /*height: 6.4em;*/
    border-bottom: 1px solid #DDD;
    /*line-height: 1.2em;*/
    position: relative;
    border-top: 1px solid rgb(224,224,224);


    h4 {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.5em;
      font-weight: normal;
      color: #000;
      /*line-height: 1.4em;*/
      /*position: absolute;*/
      /*top: 0.466666em;*/
      margin: 0.2em 0 0.2em;
      font-weight: 400;
    }

    p {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.1em;
      color: #666 !important;
      /*line-height: 1.363636em;*/
      /*position: absolute;*/
      top: 2.363636em;
      /*height: 2.727272em;*/
      /*width: 30.909090em;*/ /*  340 / 11  */
    }

    &.read {
      background-color: #EEE;
    }
  }
  
  &.pic li {
    /*padding-left: 6.4em; */
    
    p {
      width: 26em;
    }

    h4 {
      width: 19.066666em; /*  286 / 15  */
    }
  }

  &.full .header,
  &.full li {
    margin-left: -14px; /* LESS: gutter_width */
    margin-right: -14px;
    padding-left: 14px;
    padding-right: 14px;
  }

  a {
    text-decoration: none;
  }
  
  a > div {
    padding: 0 0;
  }

  .pic {
    float: left;
  }

  .special {
    float: right;
    height: 1em;
    margin-top: 5px;
  }
  
  .body {
    position: relative;
    /*margin-left: 70px;*/
    margin-left: 16vw;
  }

  .header {
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #EEEEEE;
  }

  @media screen and (min-width: 401px) {
    li p {
      margin-bottom: 0.5em;
    }
  }

  @media screen and (min-width: 769px) {
    &.pic li {
      padding: 0.4em 0;
    }

    &.full .header,
    &.full li {
      margin-left: 0; /* LESS: gutter_width */
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
