@break1: 400px;
@break2: 768px;

@grid-cell-width: 50px;
@grid-cell-margin: 10px;

@grid-cells: 16;
@grid-full-width: (@grid-cell-width * @grid-cells) + (@grid-cell-margin * (@grid-cells - 1));

/* Style Set One */
@colour-main: rgb(127, 63, 63);
@colour-hilite: #6655AA;