@charset "utf-8";

.notif {
	background-color: #FFFF99;
	font-weight: bold;
	text-align: center;
}

.showable {
	display: block;
    /*-moz-transition: width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, background-color 2s, -o-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;*/
}

.unseen {
    display: none !important;
}


