@charset "utf-8";

/* @font-face {
  font-family: "CantoraOne";
  src: url("./fonts/Cantora_One/CantoraOne-Regular.ttf");
}
@font-face {
  font-family: "MerriweatherSansBold";
  src: url("./fonts/Merriweather_Sans/MerriweatherSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "MerriweatherSansExtraBold";
  src: url("./fonts/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "MerriweatherSansRegular";
  src: url("./fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "MerriweatherSansExtraLight";
  src: url("./fonts/Merriweather_Sans/MerriweatherSans-Light.ttf");
  font-weight: 200;
} */


/* ######################

Main content area

###################### */



/* ######################

Main menu area

###################### */


/* ######################

NAVBAR

###################### */




